<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InkCostCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="ColorCartridgeCost" value="49"/>
    <add key="BlackCartridgeCost" value="49"/>
    <add key="OutputFilePath" value="c:\temp\"/>
    <add key="SelectedPrinter" value="Afinia Label L301 Label Printer"/>
  </appSettings>
    <applicationSettings>
        <InkCostCalculator.Properties.Settings>
            <setting name="Color_ml" serializeAs="String">
                <value>22.5</value>
            </setting>
            <setting name="Black_ml" serializeAs="String">
                <value>29.1</value>
            </setting>
            <setting name="ColorConst1" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ColorConst2" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="ColorConst3" serializeAs="String">
                <value>1E-09</value>
            </setting>
            <setting name="BlackConst1" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="BlackConst2" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="BlackConst3" serializeAs="String">
                <value>1E-09</value>
            </setting>
            <setting name="JobFileHeader" serializeAs="String">
                <value>Printer,Print Job,Label Color Cost,Total Color Cost,Number of Color Labels,Color ml Used,Label Black Cost,Total Black Cost,Number of Black Label,Black ml Used</value>
            </setting>
            <setting name="ProductUsageDyn" serializeAs="String">
                <value>/DevMgmt/ProductUsageDyn.xml</value>
            </setting>
            <setting name="ConsumabeConfigDyn" serializeAs="String">
                <value>/DevMgmt/ConsumableConfigDyn.xml</value>
            </setting>
            <setting name="SWFWClientPath" serializeAs="String">
                <value>C:\temp\</value>
            </setting>
            <setting name="Use388" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableCaptureLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdleMilliSeconds" serializeAs="String">
                <value>10000</value>
            </setting>
        </InkCostCalculator.Properties.Settings>
    </applicationSettings>
</configuration>
