<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InkCostCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="ColorCartridgeCost" value="25"/>
      <add key="BlackCartridgeCost" value="75"/>
      <add key="OutputFilePath" value="c:\temp\"/>
      <add key="SelectedPrinter" value="Afinia Label L301 Label Printer"/>
    </appSettings>
    <applicationSettings>
        <InkCostCalculator.Properties.Settings>
            <setting name="ColorConst3" serializeAs="String">
                <value>1E-09</value>
            </setting>
            <setting name="BlackConst3" serializeAs="String">
                <value>1E-09</value>
            </setting>
            <setting name="JobFileHeader" serializeAs="String">
                <value>Printer,Print Job,Number of Labels,Label Cyan Cost,Total Cyan Cost,Cyan ml Used,Pages per Cyan Cartridge,Label Magenta Cost,Total Magenta Cost,Magenta ml Used,Pages per Magenta Cartridge,Label Yellow Cost,Total Yellow Cost,Yellow ml Used,Pages per Yellow Cartridge,Label Black Cost,Total Black Cost,Black ml Used,Pages per Black Cartridge,Total Job Cost,Cost per Label</value>
            </setting>
            <setting name="Color_ml" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="Black_ml" serializeAs="String">
                <value>78.4</value>
            </setting>
            <setting name="ColorConst1" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ColorConst2" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="BlackConst1" serializeAs="String">
                <value>10.5</value>
            </setting>
            <setting name="BlackConst2" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ProductUsageDyn" serializeAs="String">
                <value>/DevMgmt/ProductUsageDyn.xml</value>
            </setting>
            <setting name="ConsumabeConfigDyn" serializeAs="String">
                <value>/DevMgmt/ConsumableConfigDyn.xml</value>
            </setting>
            <setting name="SWFWClientPath" serializeAs="String">
                <value>C:\Users\Terry\Documents\Visual Studio 2015\Projects\InkCostCalculator\InkCostCalculatorL501\bin\Debug\</value>
            </setting>
            <setting name="RunningSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StableSeconds" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StableConsecutive" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Use388" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableCaptureLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdleMilliSeconds" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="DelayMilliSeconds" serializeAs="String">
                <value>15000</value>
            </setting>
        </InkCostCalculator.Properties.Settings>
    </applicationSettings>
</configuration>
